*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #b1b1b1;
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
    justify-content: center;
    margin-top: 30px;
}

#container{
    display: flex;
    height: min(550px, calc(100vw - 40px));
    width: min(550px, calc(100vw - 40px));
    margin: 10px auto;
    flex: none;
}

@media (min-width: 915px) {
    main{
        flex-direction: row;
    }

    #container{
        margin: 10px;
    }
}

.rowContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gridElement{
    flex: 1;
    background-color: white;
}

#settings{
    background-color: #c7c7c7;
    margin: 10px;
    width: calc(100% - 20px);
}

@media (min-width: 915px) {
    #settings{
        width: 300px;
    }
}

#titleCard{
    width: 250px;
    margin: 23px;
    display: none;
}

#titleCard p{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#line{
    height: 0.5px;
    background-color: black;
    display: none;
}

@media (min-width: 915px) {
    #titleCard, #line{
        display: block;
    }
}

#sliderContainer{
    width: 250px;
    margin: 23px;
}

.slider{
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#buttonControls{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

button{
    padding: 3px;
    margin: auto;
    width: 100%;
}

@media (min-width: 915px) {
    #buttonControls{
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }    

    button{
        width: 250px;
    }
}