*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #b1b1b1;
    display: flex;
}

#mainBody{
    display: flex;
    margin: auto;
    flex: 1;
    justify-content: center;
    margin-top: 30px;
}

#container{
    display: flex;
    width: 550px;
    height: 550px;
    margin: 10px;
    margin-right: 50px;
    flex: none;
}

.rowContainer{
    flex: 1;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.gridElement{
    flex: 1;
    background-color: white;
}

#settings{
    background-color: #c7c7c7;
    margin: 10px;
    width: 300px;
}

#titleCard{
    width: 250px;
    margin: 23px;
}

#titleCard p{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#line{
    height: 0.5px;
    background-color: black;
}

#sliderContainer{
    width: 250px;
    margin: 23px;
}

.slider{
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

button{
    padding: 3px;
    margin: 23px;
    width: 250px;
}