*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #b1b1b1;
}

#mainBody{
    display: flex;
    margin: auto;
}

#container{
    display: flex;
    width: 550px;
    height: 550px;
    margin: 10px;
    margin-right: 50px;
    flex: none;
}

.rowContainer{
    flex: 1;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.gridElement{
    flex: 1;
    background-color: white;
}

#settings{
    background-color: #c7c7c7;
    margin: 10px;
    width: 300px;
}

#sliderContainer{
    width: 250px;
    margin: 23px;
}

.slider{
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#erase{
    padding: 3px;
    margin: 23px;
    width: 250px;
}